name: DAST
'on':
  push:
    branches:
      - developer
  pull_request:
    branches:
      - developer
  workflow_dispatch: null
  
jobs:
   DAST_Zap:
    name: DAST Zap
    runs-on: ubuntu-latest 
    steps:
     - name: zap-Scan
       uses: zaproxy/action-full-scan@v0.2.0
       with:
        target: ${{ secrets.EXT_IP }}
     - name: artifacts
       uses: actions/upload-artifact@v2
       with:
          name: DAST-artifact
          path: ${{ github.workspace }}/reports
